@font-face {
  font-family: 'report';
  src:  url('fonts/report.eot?kslkxf');
  src:  url('fonts/report.eot?kslkxf#iefix') format('embedded-opentype'),
    url('fonts/report.ttf?kslkxf') format('truetype'),
    url('fonts/report.woff?kslkxf') format('woff'),
    url('fonts/report.svg?kslkxf#report') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="report-"], [class*=" report-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'report' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.report-document-edit:before {
  content: "\e902";
  font-size: 20px;
}
.report-edit-pencil:before {
  content: "\e901";
}
.report-trash:before {
  content: "\e900";
  font-size: 20px;
}
.report-user-check:before {
  content: "\e975";
}
.report-accessibility:before {
  content: "\e9b2";
}
.report-list2:before {
  content: "\e9bb";
}
.report-circle-down:before {
  content: "\ea43";
}
